@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-handwriting: var(--font-patrick-hand);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
  /* important: stops the “scroll and miss clicks” vibe */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}